body {
    background: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.nav>li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav>li>a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: #66c05d;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-image {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 10px;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66c05d;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease;
}

.header-info button:hover {
    background-color: #66c05d;
}

.header-button {
    padding: 15px 0;
}

.header-button .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
}

.banner p {
    margin-bottom: 50px;
    max-width: 315px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 39px;
}

.title-h2 {
    font-size: 24px;
    font-weight: 700;
}

.btn {
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 10px 16px;
    transition: 0.2s ease;
    margin-top: 19px;
}

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #66c05d;
    color: #fff;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-green-img {
    border-style: none;
    margin-right: 26px;
}

.bg-green-item {
    flex: 0 0 60%;
}

.bg-green-item:last-child {
    text-align: center;
    flex: 0 0 40%;
}

.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.bg-green p {
    line-height: 1.5
}

.bg-green input {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
}

.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 150px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 19px 30px;
}

.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid-item-left {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 80px;
}

.grid-item-right {
    grid-column: 3/5;
    grid-row: 3/4;
    margin-top: 80px;
}

.grid-item-catalog {
    text-align: center;
}

.grid-item-catalog .bg-white {
    padding: 23px 30px;
}

.thumb {
    margin-bottom: 14px;
}

.grid-price {
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 29px;
}

.grid-btn {
    border-radius: 20px;
    border: 2px solid #66c05d;
    background-color: #66c05d;
    color: #fff;
    padding: 6px 36px;
    transition: 0.2s ease;
    text-decoration: none;
    cursor: pointer;
}

.caralog {
    padding-top: 100px;
    padding-bottom: 130px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 15px 0;
}

.footer-bottom a {
    color: #828282;
    text-decoration: none;
}

.footer-bottom p {
    margin: 0;
}

.footer-info {
    display: flex;
    align-items: center;
}

.footer-info span {
    font-size: 14px;
    margin-left: 172px;
}

.footer-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66c05d;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease;
}

.footer-info button:hover {
    background-color: #66c05d;
}

.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.social-item {
    margin-right: 20px;
}

.social-link {
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #66c05d;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-youtub {
    background-image: url(../img/social/youtoub.svg);
}

.social-vk {
    background-image: url(../img/social/vk.svg);
}

.social-fb {
    background-image: url(../img/social/fb.svg);
}

.social-inst {
    background-image: url(../img/social/inst.svg);
}